node_modules
dist
dist-ssr
dist.zip
dist.tar
dist.war
*-dist.zip
*-dist.tar
*-dist.war
*.local
**/.vitepress/cache
.cache
.turbo
.temp
dev-dist
.stylelintcache
yarn.lock
package-lock.json
pnpm-lock.yaml
# local env files
.env.local
.env.*.local
.eslintcache
*.sln
*.sw?
.history
*.next